<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="id">Id: </label>
  <input id="id" type="text" formControlName="id">

  <label for="code">Code: </label>
  <input id="code" type="text" formControlName="code">
  <label *ngIf="code.hasError('required')"> Code es requerido. </label>
  <label *ngIf="code.hasError('pattern')"> Code debe ser numérico. </label>

  <label for="firstname">Nombre: </label>
  <input id="firstname" type="text" formControlName="firstname">
  <label *ngIf="firstname.hasError('required')"> Nombre es requerido. </label>

  <label for="lastName">Apellido: </label>
  <input id="lastName" type="text" formControlName="lastName">
  <label *ngIf="lastName.hasError('required')"> Apellido es requerido. </label>

  <label for="securityLevel">Seguridad:</label>
  <input id="securityLevel" type="checkbox" formControlName="securityLevel">

  <label for="enabled">Habilitado:</label>
  <input id="enabled" type="checkbox" formControlName="enabled">

  <div formGroupName="info">
    <h2>Información</h2>

    <label for="validate">Validar: </label>
    <input id="validate" type="text" formControlName="validate">

    <label for="notify">Notificar: </label>
    <input id="notify" type="text" formControlName="notify">
  </div>

  <div formArrayName="list">
    <h2>Lista 1</h2>
    <button type="button" (click)="addItem()">+ Añadar subclase</button>

    <div *ngFor="let item of list.controls; let i=index">
      <!-- The repeated alias template -->
      <label for="item-{{ i }}">Item:</label>
      <input id="item-{{ i }}" type="checkbox" [formControlName]="i">
    </div>
  </div>

  <div formArrayName="list2">
    <h2>Lista 2</h2>

    <div *ngFor="let item of list2.controls; let i=index">

      <div [formGroupName]="i">

        <h4>Lista 3</h4>

        <!-- The repeated alias template -->
        <label for="item-{{ i }}">Item 1:</label>
        <input id="item-{{ i }}" type="checkbox" formControlName="item1">

        <label for="item-{{ i }}">Item 2:</label>
        <input id="item-{{ i }}" type="text" formControlName="item2">

        <label for="item-{{ i }}">Item 3:</label>
        <input id="item-{{ i }}" type="text" formControlName="item3">

        <label for="item-{{ i }}">Item 4:</label>
        <input id="item-{{ i }}" type="text" formControlName="item4">

        <div formArrayName="list3">
          <div *ngFor="let element of list3(i).controls; let y=index">
            <label for="element-{{ y }}">Element:</label>
            <input id="element-{{ y }}" type="checkbox" [formControlName]="y">
          </div>
        </div>

      </div>

    </div>
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>

<pre><p>{{profileForm.value | json}}</p></pre>
<pre><p>Form Status: {{ profileForm.status }}</p></pre>