<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="documentalClassId">Documental class id: </label>
  <input id="documentalClassId" type="text" formControlName="documentalClassId">

  <label for="code">Code: </label>
  <input id="code" type="text" formControlName="code">
  <label *ngIf="code.hasError('required')"> Code es requerido. </label>
  <label *ngIf="code.hasError('pattern')"> Code debe ser numérico. </label>

  <label for="displayName">Descripción: </label>
  <input id="displayName" type="text" formControlName="displayName">
  <label *ngIf="displayName.hasError('required')"> Descripción es requerido. </label>

  <label for="aireName">Nombre Aire: </label>
  <input id="aireName" type="text" formControlName="aireName">
  <label *ngIf="aireName.hasError('required')"> Código en Aire es requerido. </label>

  <label for="highSecurityLevel">highSecurityLevel:</label>
  <input id="highSecurityLevel" type="checkbox" formControlName="highSecurityLevel">

  <label for="enabled">Enabled:</label>
  <input id="enabled" type="checkbox" formControlName="enabled">

  <div formGroupName="aireIntegration">
    <h2>Integración aire</h2>

    <label for="validate">Validar: </label>
    <input id="validate" type="text" formControlName="validate">

    <label for="notify">Notificar: </label>
    <input id="notify" type="text" formControlName="notify">
  </div>

  <div formArrayName="symbolicNames">
    <h2>Valido en subclases</h2>
    <button type="button" (click)="addSymbolicName()">+ Añadar subclase</button>

    <div *ngFor="let symbolicName of symbolicNames.controls; let i=index">
      <!-- The repeated alias template -->
      <label for="symbolicName-{{ i }}">Subclase:</label>
      <input id="symbolicName-{{ i }}" type="checkbox" [formControlName]="i">
    </div>
  </div>

  <div formArrayName="documentalClassesSiblings">
    <h2>Clases hermandas</h2>

    <div *ngFor="let sibling of documentalClassesSiblings.controls; let i=index">

      <div [formGroupName]="i">

        <!-- The repeated alias template -->
        <label for="selectedSibling-{{ i }}">selectedSibling:</label>
        <input id="selectedSibling-{{ i }}" type="checkbox" formControlName="selectedSibling"> -->

        <label for="documentalClassSiblingId-{{ i }}">documentalClassSiblingId:</label>
        <input id="documentalClassSiblingId-{{ i }}" type="text" formControlName="documentalClassSiblingId">

        <label for="selectedDocumentalClassId-{{ i }}">selectedDocumentalClassId:</label>
        <input id="selectedDocumentalClassId-{{ i }}" type="text" formControlName="selectedDocumentalClassId">

        <label for="documentTypeCodeToCopyAuthorization-{{ i }}">documentTypeCodeToCopyAuthorization:</label>
        <input id="documentTypeCodeToCopyAuthorization-{{ i }}" type="text" formControlName="documentTypeCodeToCopyAuthorization">

        <div formArrayName="symbolicNamesSibling">
          <div *ngFor="let symbolicName of symbolicNamesSiblings(i).controls; let y=index">
            The repeated alias template
            <label for="symbolicNameSibling-{{ y }}">Subclase:</label>
            <input id="symbolicNameSibling-{{ y }}" type="checkbox" [formControlName]="y">
          </div>
        </div>

      </div>

    </div>
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>

<pre><p>{{profileForm.value | json}}</p></pre>
<pre><p>Form Status: {{ profileForm.status }}</p></pre>